{% extends "bootstrap_5_layout.html" %}
{% set active_page = "finder" %}

{% block content %}

    <div class="container mt-5">
        <h1 class="text-center">Search Results</h1>

        <p>The following farmers markets are available in userCity, userState:</p>

        <div class="row mt-4 justify-content-center">
            <div class="col-md-8">
                <div class="card" style="width: 30rem;">
                    <ul class="list-group list-group-flush">
                        <div class="card-body">
                            <h5 class="card-title">Market Name: market_name</h5>
                            <p class="card-text">Market Address: market_street market_city, market_state market_zip</p>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}