{% extends "bootstrap_5_layout.html" %}
{% set active_page = "finder" %}

{% block content %}

    <div class="container mt-5">
        <h1 class="text-center">Search Results</h1>

        <h3>The following farmers markets are available in {{ market['market_city'] }}, {{ market['market_state'] }}:</h3>

        <div class="row mt-4 justify-content-center">
            <div class="col-md-8">
                <div class="card" style="width: 30rem;">
                    <ul class="list-group list-group-flush">
                        {% for market in market_list %}
                            <li class="list-group-item">
                                <div class="card-body">
                                    <h5 class="card-title">{{ market['market_name'] }}</h5>
                                    <p class="card-text"> 
                                        {{ market['market_street'] }}<br>
                                        {{ market['market_city'] }}, {{ market['market_state'] }} {{ market['market_zip'] }}
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}