{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <div class="container mt-5">
        <h1 class="text-center">Farmers Market Finder</h1>
        <p class="text-center">Built by Lauren Owens</p>

        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                <h3 class="text-center">Instructions:</h3>
                <p class="text-center">Enter your city and state to create a list of the farmers markets that are in your local area. All market data is provided by the USDA.</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                <form action="{{ url_for('finder_routes.finder') }}" method="post">
                    <div class="form-group">
                        <label for="userCity">Enter your city:</label>
                        <input type="text" class="form-control" id="userCity" name="userCity" placeholder="ex: Los Angeles">
                        <p></p>
                    </div>
                    <div class="form-group">
                        <label for="userState">Enter your two-letter state code:</label>
                        <input type="text" class="form-control" id="userState" name="userState" placeholder="ex: CA">
                        <p></p>
                    </div>
                    <div class="text-center">
                    <button type="submit" onClick="finder_routes" class="btn btn-secondary btn-block" class="text-center">Search</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}
